n8n workflovs/00 - Merkezi API Gateway.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fismatik-gateway",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5c66d69b-ca22-4b94-896a-6eda064f72b2",
      "name": "Gateway Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1520,
        2240
      ],
      "webhookId": "fismatik-gateway"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nif (!body.action) throw new Error(\"action zorunlu\");\n\nconst action = String(body.action).trim().toLowerCase();\nconst payload = body.payload || {};\nconst session_key = body.session_key || \"\";\n\n// Oturum gerektiren action'lar\nconst SESSION_REQUIRED = [\n  \"check_quota\",\n  \"upload_receipt\",\n  \"get_reports\",\n  \"get_receipts\",\n  \"update_receipt\",\n  \"delete_receipt\",\n  \"manage_metadata\",\n  \"get_team\",\n  \"add_user\",\n  \"delete_user\"\n];\n\nif (SESSION_REQUIRED.includes(action) && !session_key) {\n  throw new Error(\"Bu islem icin session_key zorunlu\");\n}\n\nreturn [{ json: { action, payload, session_key, _step: 1 } }];"
      },
      "id": "f7cb372f-f7a4-435c-8e2b-d44653476a0f",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        2240
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "upload_receipt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e9750c11-d63f-4266-b6c3-2161bd9caeb6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b3cc8a95-8520-4f6c-8053-f8fe9e2b836d",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "upload_receipt",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "295447a7-0d01-43f8-a087-59a253a8387a",
      "name": "Upload mu?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2048,
        2240
      ]
    },
    {
      "parameters": {
        "jsCode": "// ================================================================\n// DYNAMIC SQL ENGINE - minimal ama tam action kapsami\n// ================================================================\nconst { action, payload, session_key, _step, _prev } = $json;\n\nconst OP = String(payload.operation || \"\").toLowerCase().trim();\nconst TABLE = String(payload.table || \"\").toLowerCase().trim();\n\nconst TABLE_MAP = {\n  categories: \"categories\",\n  projects: \"projects\",\n  company_cards: \"company_cards\"\n};\n\nconst getCompanyIdSql = `\n  (SELECT u.company_id\n   FROM users u\n   JOIN user_sessions s ON s.user_id = u.id\n   WHERE s.session_key = $1\n     AND s.revoked_at IS NULL\n   LIMIT 1)\n`;\n\nconst ACTIONS = {\n  // ---------------- AUTH ----------------\n  login: {\n    1: {\n      validate: () => {\n        if (!payload.email || !payload.password) {\n          throw new Error(\"E-posta ve sifre zorunlu\");\n        }\n      },\n      sql: `\n        SELECT u.id, u.company_id, u.role, u.is_super_admin\n        FROM users u\n        WHERE lower(u.email) = lower($1)\n          AND u.password_hash = crypt($2, u.password_hash)\n          AND u.status = 'true'\n        LIMIT 1\n      `,\n      params: () => [payload.email, payload.password]\n    },\n    2: {\n      sql: `\n        INSERT INTO user_sessions (user_id, session_key, expires_at, user_agent)\n        VALUES ($1, encode(gen_random_bytes(32), 'hex'), now() + interval '15 days', $2)\n        RETURNING session_key\n      `,\n      params: () => [_prev.id, payload.user_agent || \"web\"]\n    }\n  },\n\n  register: {\n    1: {\n      validate: () => {\n        if (!payload.company_name || !payload.email || !payload.password) {\n          throw new Error(\"Eksik kayit bilgileri\");\n        }\n      },\n      sql: `\n        SELECT create_trial_company_and_admin(\n          $1, $2, crypt($3, gen_salt('bf')), $4\n        ) AS user_id\n      `,\n      params: () => [payload.company_name, payload.email, payload.password, payload.telegram_id || null]\n    }\n  },\n\n  forgot_password: {\n    1: {\n      validate: () => {\n        if (!payload.email) throw new Error(\"E-posta zorunlu\");\n      },\n      sql: `\n        SELECT id, email, coalesce(full_name, split_part(email, '@', 1)) AS full_name\n        FROM users\n        WHERE lower(email) = lower($1) AND status = 'true'\n        LIMIT 1\n      `,\n      params: () => [payload.email]\n    },\n    2: {\n      sql: `\n        UPDATE users\n        SET password_hash = crypt($1, gen_salt('bf')), updated_at = now()\n        WHERE id = $2\n        RETURNING id\n      `,\n      params: () => [_prev.temp_password, _prev.user_id]\n    }\n  },\n\n  // ---------------- SYSTEM ----------------\n  check_quota: {\n    1: {\n      sql: `\n        SELECT c.id AS company_id, check_company_quota(c.id) AS allow\n        FROM user_sessions s\n        JOIN users u ON u.id = s.user_id\n        JOIN companies c ON c.id = u.company_id\n        WHERE s.session_key = $1\n          AND s.revoked_at IS NULL\n        LIMIT 1\n      `,\n      params: () => [session_key]\n    }\n  },\n\n  get_reports: {\n    1: {\n      sql: `\n        SELECT\n          u.id AS user_id,\n          u.role,\n          u.is_super_admin,\n          u.company_id,\n          u.full_name,\n          u.email,\n          c.company_name,\n          c.used_this_month,\n          c.monthly_limit,\n          c.extra_credits,\n          c.plan_type,\n          c.status\n        FROM user_sessions s\n        JOIN users u ON u.id = s.user_id\n        LEFT JOIN companies c ON c.id = u.company_id\n        WHERE s.session_key = $1\n          AND s.revoked_at IS NULL\n        LIMIT 1\n      `,\n      params: () => [session_key]\n    }\n  },\n\n  // ---------------- RECEIPTS ----------------\n  get_receipts: {\n    1: {\n      sql: `\n        SELECT f.*\n        FROM fisler f\n        WHERE f.company_id = ${getCompanyIdSql}\n        ORDER BY f.tarih DESC, f.saat DESC\n        LIMIT 200\n      `,\n      params: () => [session_key]\n    }\n  },\n\n  update_receipt: {\n    1: {\n      validate: () => {\n        if (!payload.receipt_id || !payload.data) throw new Error(\"ID veya veri eksik\");\n      },\n      sql: `\n        UPDATE fisler\n        SET\n          isletme_adi   = COALESCE($1, isletme_adi),\n          toplam_tutar  = COALESCE($2, toplam_tutar),\n          tarih         = COALESCE($3, tarih),\n          saat          = COALESCE($4, saat),\n          durum         = COALESCE($5, durum),\n          kategori      = COALESCE($6, kategori),\n          proje         = COALESCE($7, proje),\n          fis_no        = COALESCE($8, fis_no),\n          kart_son_4    = COALESCE($9, kart_son_4),\n          ocr_detaylari = COALESCE($10::jsonb, ocr_detaylari)\n        WHERE id = $11\n          AND company_id = ${getCompanyIdSql}\n        RETURNING id\n      `,\n      params: () => [\n        payload.data.isletme_adi ?? null,\n        payload.data.toplam_tutar ?? null,\n        payload.data.tarih ?? null,\n        payload.data.saat ?? null,\n        payload.data.durum ?? null,\n        payload.data.kategori ?? null,\n        payload.data.proje ?? null,\n        payload.data.fis_no ?? null,\n        payload.data.kart_son_4 ?? null,\n        payload.data.ocr_detaylari ? JSON.stringify(payload.data.ocr_detaylari) : null,\n        payload.receipt_id,\n        session_key\n      ]\n    }\n  },\n\n  delete_receipt: {\n    1: {\n      validate: () => {\n        if (!payload.receipt_id) throw new Error(\"receipt_id zorunlu\");\n      },\n      sql: `\n        DELETE FROM fisler\n        WHERE id = $1\n          AND company_id = ${getCompanyIdSql}\n        RETURNING id\n      `,\n      params: () => [payload.receipt_id, session_key]\n    }\n  },\n\n  // ---------------- TEAM ----------------\n  get_team: {\n    1: {\n      sql: `\n        SELECT id, email, full_name, role, status, phone_number\n        FROM users\n        WHERE company_id = ${getCompanyIdSql}\n        ORDER BY created_at DESC\n      `,\n      params: () => [session_key]\n    }\n  },\n\n  add_user: {\n    1: {\n      validate: () => {\n        if (!payload.email || !payload.full_name || !payload.password) {\n          throw new Error(\"email, full_name ve password zorunlu\");\n        }\n      },\n      sql: `\n        INSERT INTO users (\n          id, company_id, full_name, email, password_hash, phone_number, role, status, is_super_admin, created_at\n        )\n        VALUES (\n          gen_random_uuid(),\n          ${getCompanyIdSql},\n          $2, $3, crypt($4, gen_salt('bf')), $5, $6, 'true', false, now()\n        )\n        RETURNING id\n      `,\n      params: () => [\n        session_key,\n        payload.full_name,\n        payload.email,\n        payload.password,\n        payload.phone || null,\n        payload.role || \"user\"\n      ]\n    }\n  },\n\n  delete_user: {\n    1: {\n      validate: () => {\n        if (!payload.user_id) throw new Error(\"user_id zorunlu\");\n      },\n      sql: `\n        UPDATE users\n        SET status = 'false'\n        WHERE id = $1\n          AND company_id = ${getCompanyIdSql}\n        RETURNING id\n      `,\n      params: () => [payload.user_id, session_key]\n    }\n  },\n\n  // ---------------- METADATA ----------------\n  manage_metadata: {\n    1: {\n      validate: () => {\n        if (!TABLE_MAP[TABLE]) throw new Error(\"Gecersiz metadata tablosu\");\n        if (![\"list\", \"insert\", \"delete\"].includes(OP)) {\n          throw new Error(\"Gecersiz metadata operation\");\n        }\n      },\n      sql: (() => {\n        const t = TABLE_MAP[TABLE];\n        if (OP === \"list\") {\n          if (t === \"company_cards\") {\n            return `\n              SELECT id, company_id, bank_name, card_alias, last_4_digits, created_at\n              FROM company_cards\n              WHERE company_id = ${getCompanyIdSql}\n              ORDER BY created_at DESC\n            `;\n          }\n          if (t === \"projects\") {\n            return `\n              SELECT id, company_id, name, code, created_at\n              FROM projects\n              WHERE company_id = ${getCompanyIdSql}\n              ORDER BY name ASC\n            `;\n          }\n          return `\n            SELECT id, company_id, name, created_at\n            FROM categories\n            WHERE company_id = ${getCompanyIdSql}\n            ORDER BY name ASC\n          `;\n        }\n\n        if (OP === \"insert\") {\n          if (t === \"company_cards\") {\n            return `\n              INSERT INTO company_cards (company_id, bank_name, card_alias, last_4_digits, created_at)\n              VALUES (${getCompanyIdSql}, $2, $3, $4, now())\n              RETURNING id\n            `;\n          }\n          if (t === \"projects\") {\n            return `\n              INSERT INTO projects (company_id, name, code, created_at)\n              VALUES (${getCompanyIdSql}, $2, $3, now())\n              RETURNING id\n            `;\n          }\n          return `\n            INSERT INTO categories (company_id, name, created_at)\n            VALUES (${getCompanyIdSql}, $2, now())\n            RETURNING id\n          `;\n        }\n\n        // delete\n        return `\n          DELETE FROM ${t}\n          WHERE id = $2\n            AND company_id = ${getCompanyIdSql}\n          RETURNING id\n        `;\n      })(),\n      params: () => {\n        if (OP === \"list\") return [session_key];\n\n        if (OP === \"insert\") {\n          if (TABLE === \"company_cards\") {\n            const d = payload.data || {};\n            return [\n              session_key,\n              d.bank_name || \"Kredi Karti\",\n              d.card_alias || (d.last_4_digits ? `Kart ${d.last_4_digits}` : \"Kart\"),\n              d.last_4_digits || null\n            ];\n          }\n          if (TABLE === \"projects\") {\n            const d = payload.data || {};\n            return [session_key, d.name || null, d.code || null];\n          }\n          const d = payload.data || {};\n          return [session_key, d.name || null];\n        }\n\n        // delete\n        return [session_key, payload.id || null];\n      }\n    }\n  }\n};\n\n// Action kontrolu\nconst actionDef = ACTIONS[action];\nif (!actionDef) {\n  return [{ json: { _done: true, _response: { ok: false, message: \"Bilinmeyen islem: \" + action } } }];\n}\n\nconst stepDef = actionDef[_step];\nif (!stepDef) {\n  return [{ json: { _done: true, _response: { ok: false, message: \"Gecersiz adim: \" + action + \"/\" + _step } } }];\n}\n\nif (stepDef.validate) stepDef.validate();\n\nreturn [{\n  json: {\n    action,\n    payload,\n    session_key,\n    _step,\n    _sql: stepDef.sql,\n    _params: stepDef.params(),\n    _prev: _prev || null\n  }\n}];"
      },
      "id": "7a73d57d-b2ea-463e-a0d4-12dc3b6171f9",
      "name": "SQL Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        2336
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json._sql }}",
        "options": {
          "queryReplacement": "={{ $json._params }}"
        }
      },
      "id": "d4ead116-eb40-4617-ab71-e4b9168b001d",
      "name": "PG Execute",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2592,
        2336
      ],
      "credentials": {
        "postgres": {
          "id": "c0xPSSHQBi5bwXF5",
          "name": "FİSmatik"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $(\"SQL Engine\").first().json;\nconst { action, payload, session_key, _step } = input;\nconst rows = $input.all().map((i) => i.json);\nconst row = rows[0] || {};\n\n// ---------------- LOGIN ----------------\nif (action === \"login\" && _step === 1) {\n  if (!row.id) throw new Error(\"Hatali giris\");\n  return [{ json: { action, payload, session_key, _step: 2, _prev: row, _done: false } }];\n}\nif (action === \"login\" && _step === 2) {\n  return [{ json: { _done: true, _response: { ok: true, session_key: row.session_key } } }];\n}\n\n// ---------------- REGISTER ----------------\nif (action === \"register\") {\n  return [{ json: { _done: true, _response: { ok: true, message: \"Kayit olusturuldu\", user_id: row.user_id } } }];\n}\n\n// ---------------- QUOTA ----------------\nif (action === \"check_quota\") {\n  return [{ json: { _done: true, _response: { ok: true, allow: row.allow || false, company_id: row.company_id || null } } }];\n}\n\n// ---------------- REPORTS ----------------\nif (action === \"get_reports\") {\n  if (!row.user_id) throw new Error(\"Gecersiz veya suresi dolmus oturum\");\n  return [{\n    json: {\n      _done: true,\n      _response: {\n        ok: true,\n        profile: {\n          user_id: row.user_id,\n          role: row.role,\n          is_super_admin: row.is_super_admin,\n          full_name: row.full_name || null,\n          email: row.email || null,\n          company_id: row.company_id || null\n        },\n        company: {\n          company_id: row.company_id || null,\n          company_name: row.company_name || null,\n          name: row.company_name || null,\n          used_this_month: row.used_this_month || 0,\n          monthly_limit: row.monthly_limit || 0,\n          extra_credits: row.extra_credits || 0,\n          plan_type: row.plan_type || null,\n          status: row.status || null\n        }\n      }\n    }\n  }];\n}\n\n// ---------------- RECEIPTS ----------------\nif (action === \"get_receipts\") {\n  const normalized = rows.map((r) => {\n    let ocr = r.ocr_detaylari;\n    if (ocr && typeof ocr === \"object\" && Array.isArray(ocr.urunler)) {\n      ocr = ocr.urunler;\n    }\n    return { ...r, ocr_detaylari: ocr || [] };\n  });\n  return [{ json: { _done: true, _response: { ok: true, receipts: normalized } } }];\n}\n\nif (action === \"update_receipt\") {\n  return [{ json: { _done: true, _response: { ok: true, updated_id: row.id || null } } }];\n}\n\nif (action === \"delete_receipt\") {\n  return [{ json: { _done: true, _response: { ok: true, deleted_id: row.id || null } } }];\n}\n\n// ---------------- TEAM ----------------\nif (action === \"get_team\") {\n  return [{ json: { _done: true, _response: { ok: true, users: rows } } }];\n}\n\nif (action === \"add_user\") {\n  return [{ json: { _done: true, _response: { ok: true, user_id: row.id || null } } }];\n}\n\nif (action === \"delete_user\") {\n  return [{ json: { _done: true, _response: { ok: true, user_id: row.id || null } } }];\n}\n\n// ---------------- METADATA ----------------\nif (action === \"manage_metadata\") {\n  const table = String(payload.table || \"\").toLowerCase().trim();\n  const op = String(payload.operation || \"\").toLowerCase().trim();\n\n  if (op === \"list\") {\n    return [{ json: { _done: true, _response: { ok: true, [table]: rows, items: rows } } }];\n  }\n  if (op === \"insert\") {\n    return [{ json: { _done: true, _response: { ok: true, inserted_id: row.id || null } } }];\n  }\n  if (op === \"delete\") {\n    return [{ json: { _done: true, _response: { ok: true, deleted_id: row.id || null } } }];\n  }\n\n  return [{ json: { _done: true, _response: { ok: false, message: \"Gecersiz metadata operation\" } } }];\n}\n\n// ---------------- FORGOT PASSWORD ----------------\nif (action === \"forgot_password\" && _step === 1) {\n  const SAFE_MSG = \"Eger e-posta sistemde kayitliysa gecici sifre gonderildi.\";\n\n  if (!row.id) {\n    return [{ json: { _done: true, _response: { ok: true, message: SAFE_MSG } } }];\n  }\n\n  const chars = \"ABCDEFGHJKLMNPQRSTUVWXYZabcdefghijkmnopqrstuvwxyz23456789\";\n  let tempPassword = \"\";\n  for (let i = 0; i < 8; i++) tempPassword += chars.charAt(Math.floor(Math.random() * chars.length));\n\n  return [{\n    json: {\n      action,\n      payload,\n      session_key,\n      _step: 2,\n      _prev: { ...row, temp_password: tempPassword, user_id: row.id },\n      _done: false,\n      _send_mail: true,\n      _mail_data: { email: row.email, full_name: row.full_name, temp_password: tempPassword }\n    }\n  }];\n}\n\nif (action === \"forgot_password\" && _step === 2) {\n  const mailData = input._mail_data || input._prev || {};\n  return [{\n    json: {\n      _done: \"send_mail\",\n      _mail_data: mailData,\n      _response: { ok: true, message: \"Eger e-posta sistemde kayitliysa gecici sifre gonderildi.\" }\n    }\n  }];\n}\n\n// Fallback\nreturn [{ json: { _done: true, _response: { ok: true, message: \"Islem tamamlandi\", data: rows } } }];"
      },
      "id": "7beebabf-c6fb-4d54-b22d-7832f8e65cb6",
      "name": "Step Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        2336
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._done }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "6c89360c-0289-4916-bf7e-40718ae31c1c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ String($json._done) }}",
                    "rightValue": "send_mail",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9e109469-f4d6-4c48-925e-21da5b02664d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json._done }}",
                    "rightValue": "send_mail",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "92e716a6-6e3f-4045-80cd-895fe9951927"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "3cac527f-9d36-4176-a689-338e3ddb7589",
      "name": "Next?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3072,
        2336
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json._mail_data.email }}",
        "subject": "Yeni Gecici Sifreniz",
        "message": "=Merhaba {{ $json._mail_data.full_name }},\n\nSifremi unuttum talebiniz alindi.\nGecici sifreniz: {{ $json._mail_data.temp_password }}\n\nGuvenlik icin giris yaptiktan sonra sifrenizi degistirin.\n\nPanel: https://muhittinuzun.github.io/FismatikMusteriPaneli/",
        "options": {
          "appendAttribution": false,
          "senderName": "Fismatik Destek"
        }
      },
      "id": "e73fd7ba-e692-428a-a164-4fd6518b994f",
      "name": "Send Mail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3360,
        2208
      ],
      "webhookId": "d2793cde-9f12-4212-8b9a-c8a958d75ac4",
      "credentials": {
        "gmailOAuth2": {
          "id": "EUn4cdeYkQUXRdxL",
          "name": "fis takip"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json._response || { ok: true }) }}",
        "options": {}
      },
      "id": "cd4d35b7-9799-4aa0-b158-f72970133394",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3632,
        2448
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "R3S-6QwEcLRzIZfHS6zu2",
          "mode": "id",
          "cachedResultUrl": "/workflow/R3S-6QwEcLRzIZfHS6zu2"
        },
        "options": {}
      },
      "id": "cd5f0de0-0905-48fc-a819-ef63a63e32b6",
      "name": "Execute OCR Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        2320,
        2096
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "r9J_4EhIoYDg27G2K2_nj",
          "mode": "id",
          "cachedResultUrl": "/workflow/r9J_4EhIoYDg27G2K2_nj"
        },
        "options": {}
      },
      "id": "8badfcdf-4575-4582-90cc-c8f0c88bc099",
      "name": "Execute Save Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        2592,
        2096
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, message: 'Fis isleme kuyruga alindi' }) }}",
        "options": {}
      },
      "id": "d73e1ac9-6cd9-4815-a3e7-cc37b5c61c0a",
      "name": "Response: Upload1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2832,
        2096
      ]
    }
  ],
  "connections": {
    "Gateway Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Upload mu?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload mu?": {
      "main": [
        [
          {
            "node": "Execute OCR Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Engine": {
      "main": [
        [
          {
            "node": "PG Execute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Execute": {
      "main": [
        [
          {
            "node": "Step Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step Router": {
      "main": [
        [
          {
            "node": "Next?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next?": {
      "main": [
        [
          {
            "node": "SQL Engine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Mail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Mail": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute OCR Workflow": {
      "main": [
        [
          {
            "node": "Execute Save Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Save Workflow": {
      "main": [
        [
          {
            "node": "Response: Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f076ed0cacd38fc2ba8ffa68ee2e157985f657f98d37b30667e4135afe7d023"
  }
}