n8n workflovs/04 - telegtam fiş akisi.clean.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "id": "trigger-node",
      "name": "Telegram Gelen Mesaj",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "telegramApi": {
          "id": "CFzJKjsFQ3QPP0Vt",
          "name": "ITTFISMATIKBOT"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "id": "wait-node",
      "name": "Siraya Koy",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id, u.company_id, u.full_name, c.company_name, c.is_active FROM users u JOIN companies c ON c.id = u.company_id WHERE u.telegram_id = $1 LIMIT 1;",
        "options": {
          "queryReplacement": "={{ [String($('Telegram Gelen Mesaj').first().json.message.chat.id)] }}"
        }
      },
      "id": "auth-node",
      "name": "Kullanici ve Sirket Kontrolu",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        460,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "c0xPSSHQBi5bwXF5",
          "name": "FISmatik"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "leftValue": "={{ String($json.is_active) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "auth-if",
      "name": "Yetkili mi",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Gelen Mesaj').first().json.message.chat.id }}",
        "text": "Sisteme kayitli degilsiniz veya sirketiniz aktif degil."
      },
      "id": "reject-msg",
      "name": "Red Mesaji",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        930,
        180
      ],
      "credentials": {
        "telegramApi": {
          "id": "CFzJKjsFQ3QPP0Vt",
          "name": "ITTFISMATIKBOT"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const src = $('Telegram Gelen Mesaj').first();\nconst binary = src.binary || {};\nconst keys = Object.keys(binary);\nif (!keys.length) throw new Error('Gorsel bulunamadi');\nconst k = keys[0];\nconst image = binary[k];\nconst ext = (image.fileExtension || 'jpg').replace('.', '');\nconst fileName = `${src.json.message.chat.id}_${Date.now()}.${ext}`;\nreturn [{ json: { chat_id: src.json.message.chat.id, fileName, base64Image: image.data }, binary: { image } }];"
      },
      "id": "prepare-file",
      "name": "Dosyayi Hazirla",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        930,
        -90
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "Gorsel alindi, analiz basliyor."
      },
      "id": "processing-msg",
      "name": "Inceleniyor Mesaji",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1170,
        -90
      ],
      "credentials": {
        "telegramApi": {
          "id": "CFzJKjsFQ3QPP0Vt",
          "name": "ITTFISMATIKBOT"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "cdn.fisfatura.com",
        "binaryData": true,
        "binaryPropertyName": "image",
        "fileName": "={{ `${$('Kullanici ve Sirket Kontrolu').first().json.company_id}/${$('Kullanici ve Sirket Kontrolu').first().json.company_name}/fisler/${$now.format('yyyy/MM')}/${$('Dosyayi Hazirla').first().json.fileName}` }}"
      },
      "id": "s3-node",
      "name": "S3 Yukleme",
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        1410,
        -90
      ],
      "credentials": {
        "aws": {
          "id": "N8W9Eg6vOryjKoZM",
          "name": "S3 ITT"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://vision.googleapis.com/v1/images:annotate?key=AIzaSyBltZRduPsCwMxqTP1-AwQqBHvS2fHjHt4",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"image\": { \"content\": \"{{ $('Dosyayi Hazirla').first().json.base64Image }}\" },\n      \"features\": [\n        { \"type\": \"TEXT_DETECTION\" },\n        { \"type\": \"DOCUMENT_TEXT_DETECTION\", \"maxResults\": 1 }\n      ]\n    }\n  ]\n}"
      },
      "id": "vision-node",
      "name": "Google Vision OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1650,
        -90
      ]
    },
    {
      "parameters": {
        "jsCode": "const txt = $json.responses?.[0]?.textAnnotations?.[0]?.description || '';\nif (!txt || txt.trim().length < 10) return [{ json: { isFis: false, reason: 'Yazi okunamadi', text: txt } }];\nconst low = txt.toLowerCase();\nconst keywords = ['kdv','toplam','tutar','fis','fatura','odeme','kart','nakit','tarih','matrah','vergi'];\nconst hits = keywords.filter((k) => low.includes(k)).length;\nconst hasNumbers = /\\d+[.,]?\\d*/.test(low);\nreturn [{ json: { isFis: hits >= 2 && hasNumbers, reason: hits >= 2 && hasNumbers ? 'OK' : 'Fis kriterlerine uymuyor', text: txt } }];"
      },
      "id": "fis-check",
      "name": "Fis Dogrulama",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1890,
        -90
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "leftValue": "={{ $json.isFis }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "fis-if",
      "name": "Gercekten Fis mi",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2110,
        -90
      ]
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Dosyayi Hazirla').first().json.chat_id }}",
        "messageId": "={{ $('Inceleniyor Mesaji').first().json.result.message_id }}",
        "text": "=Gorsel reddedildi. Sebep: {{ $('Fis Dogrulama').first().json.reason }}"
      },
      "id": "not-fis-msg",
      "name": "Fis Degil Mesaji",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2350,
        120
      ],
      "credentials": {
        "telegramApi": {
          "id": "CFzJKjsFQ3QPP0Vt",
          "name": "ITTFISMATIKBOT"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT name FROM categories WHERE company_id = $1 ORDER BY name ASC;",
        "options": {
          "queryReplacement": "={{ [ $('Kullanici ve Sirket Kontrolu').first().json.company_id ] }}"
        }
      },
      "id": "cat-node",
      "name": "Kategorileri Cek",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2350,
        -230
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "c0xPSSHQBi5bwXF5",
          "name": "FISmatik"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cats = $input.all().map((i) => i.json.name).filter(Boolean);\nconst catList = cats.length ? cats : ['Market', 'Yemek', 'Yakit', 'Diger'];\nconst ocrText = $('Fis Dogrulama').first().json.text || '';\nconst prompt = `Asagidaki OCR metnini analiz et ve sadece gecerli JSON dondur.\\nKategori secenekleri: ${catList.join(', ')}\\n\\nOCR:\\n${ocrText}`;\nconst schema = { IsletmeAdi: 'string', Tarih: 'string', Saat: 'string', FisNumarasi: 'string', ToplamTutar: 'number', OdemeTipi: 'string', KartSon4Hane: 'string', UrunlerVeKDVBilgileri: [{ Aciklama: 'string', Kategori: 'string', KDVOrani: 'number', Matrah: 'number', KDVTutari: 'number', Tutar_KDVDahil: 'number' }] };\nreturn [{ json: { user_prompt: prompt, system_prompt: `Yalnizca JSON dondur. Beklenen sema: ${JSON.stringify(schema)}` } }];"
      },
      "id": "prompt-node",
      "name": "Prompt Hazirla",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2590,
        -230
      ]
    },
    {
      "parameters": {
        "modelId": {
          "value": "models/gemini-2.5-flash",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.user_prompt }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "systemMessage": "={{ $json.system_prompt }}",
          "temperature": 0
        }
      },
      "id": "gemini-node",
      "name": "Gemini Analiz",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2830,
        -230
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "mg6Qkierq2X8bX9f",
          "name": "DEMOPROJE"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.content || $json.text || $json.output || JSON.stringify($json);\nlet obj = null;\nif (typeof raw === 'string') {\n  const cleaned = raw.replace(/```json|```/g, '').trim();\n  obj = JSON.parse(cleaned);\n} else if (typeof raw === 'object') {\n  obj = raw;\n}\nif (!obj || typeof obj !== 'object') throw new Error('Gemini JSON parse edilemedi');\nconst details = Array.isArray(obj.UrunlerVeKDVBilgileri) ? obj.UrunlerVeKDVBilgileri.map((x) => ({ aciklama: x.Aciklama || '', kategori: x.Kategori || '', kdv_oran: Number(x.KDVOrani || 0), matrah: Number(x.Matrah || 0), kdv_tutar: Number(x.KDVTutari || 0), tutar: Number(x.Tutar_KDVDahil || 0) })) : [];\nreturn [{ json: { isletme_adi: obj.IsletmeAdi || '', tarih: obj.Tarih || null, saat: obj.Saat || null, fis_no: obj.FisNumarasi || '', toplam_tutar: Number(obj.ToplamTutar || 0), odeme_tipi: obj.OdemeTipi || '', kart_son_4: obj.KartSon4Hane || '', kategori: details[0]?.kategori || 'Diger', ocr_detaylari: details } }];"
      },
      "id": "parse-node",
      "name": "Gemini Cevap Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3070,
        -230
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO fisler (company_id, user_id, isletme_adi, tarih, saat, fis_no, toplam_tutar, para_birimi, kart_son_4, odeme_tipi, kategori, proje, gorsel_url, ocr_detaylari, durum, created_at) VALUES ($1, $2, $3, NULLIF($4, '')::date, NULLIF($5, '')::time, $6, $7, 'TRY', NULLIF($8, ''), $9, $10, NULL, $11, $12::jsonb, 'beklemede', now()) RETURNING id;",
        "options": {
          "queryReplacement": "={{ [ $('Kullanici ve Sirket Kontrolu').first().json.company_id, $('Kullanici ve Sirket Kontrolu').first().json.id, $json.isletme_adi, $json.tarih, $json.saat, $json.fis_no, $json.toplam_tutar, $json.kart_son_4, $json.odeme_tipi, $json.kategori, `https://cdn.fisfatura.com/${$('Kullanici ve Sirket Kontrolu').first().json.company_id}/${$('Kullanici ve Sirket Kontrolu').first().json.company_name}/fisler/${$now.format('yyyy/MM')}/${$('Dosyayi Hazirla').first().json.fileName}`, JSON.stringify($json.ocr_detaylari || []) ] }}"
        }
      },
      "id": "insert-node",
      "name": "Fis Kaydet",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3310,
        -230
      ],
      "credentials": {
        "postgres": {
          "id": "c0xPSSHQBi5bwXF5",
          "name": "FISmatik"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Dosyayi Hazirla').first().json.chat_id }}",
        "messageId": "={{ $('Inceleniyor Mesaji').first().json.result.message_id }}",
        "text": "=Fis kaydedildi. Kayit No: {{ $json.id }}"
      },
      "id": "success-msg",
      "name": "Basari Mesaji",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3550,
        -230
      ],
      "credentials": {
        "telegramApi": {
          "id": "CFzJKjsFQ3QPP0Vt",
          "name": "ITTFISMATIKBOT"
        }
      }
    }
  ],
  "connections": {
    "Telegram Gelen Mesaj": {
      "main": [
        [
          {
            "node": "Siraya Koy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Siraya Koy": {
      "main": [
        [
          {
            "node": "Kullanici ve Sirket Kontrolu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kullanici ve Sirket Kontrolu": {
      "main": [
        [
          {
            "node": "Yetkili mi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Yetkili mi": {
      "main": [
        [
          {
            "node": "Dosyayi Hazirla",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Red Mesaji",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dosyayi Hazirla": {
      "main": [
        [
          {
            "node": "Inceleniyor Mesaji",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inceleniyor Mesaji": {
      "main": [
        [
          {
            "node": "S3 Yukleme",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3 Yukleme": {
      "main": [
        [
          {
            "node": "Google Vision OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Vision OCR": {
      "main": [
        [
          {
            "node": "Fis Dogrulama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fis Dogrulama": {
      "main": [
        [
          {
            "node": "Gercekten Fis mi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gercekten Fis mi": {
      "main": [
        [
          {
            "node": "Kategorileri Cek",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fis Degil Mesaji",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kategorileri Cek": {
      "main": [
        [
          {
            "node": "Prompt Hazirla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Hazirla": {
      "main": [
        [
          {
            "node": "Gemini Analiz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Analiz": {
      "main": [
        [
          {
            "node": "Gemini Cevap Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Cevap Parse": {
      "main": [
        [
          {
            "node": "Fis Kaydet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fis Kaydet": {
      "main": [
        [
          {
            "node": "Basari Mesaji",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
